PORT=8080
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/cherry_mart
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRE=30d
ADMIN_SECRET_KEY=cherry-mart-admin-2026
FRONTEND_URL=http://localhost:3000

# Cloudinary Config
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Stripe Config
STRIPE_SECRET_KEY=your_stripe_secret_key
